
<div class="container container-modal">

    <div class="flex flex-column gap-2 input-centrado">
        <label for="estimacion">Horas estimadas</label>
        <p-inputNumber id="estimacion" [(ngModel)]="estimacion" suffix=" horas"> </p-inputNumber>
    </div>
    <div class="flex flex-column gap-2 input-centrado">
        <label for="comentario">Comentario</label>
        <textarea id="comentario" rows="5" cols="100" pInputTextarea [autoResize]="true" [(ngModel)]="comentario"></textarea>
    </div>

    <button pButton pRipple label="Estimar" class="p-button-success" (click)="seleccionar()"></button>
</div>