
<div class="">
    <p-menubar [model]="items">
        <ng-template pTemplate="start" styleClass="mr-5">
            <img src="../../../assets/img/G_abreviada.png" height="40" />
        </ng-template>
        <ng-template pTemplate="end">
            
        </ng-template>
    </p-menubar>
</div>


<!-- <div class="card">
    <p-megaMenu [model]="items">
        <ng-template pTemplate="start" [style]="flex">
            <img src="https://primefaces.org/cdn/primeng/images/primeng.svg" height="40" class="mr-2" />
        </ng-template>
        <ng-template pTemplate="end">
        </ng-template>
    </p-megaMenu>
</div> -->