
<div class="container" style="margin: 20px;">
    
    <div class="card">
        <p-toast></p-toast>
        <p-table
            #dt
            [value]="eventos"
            [rows]="10"
            [paginator]="true"
            [globalFilterFields]="['tipo', 'numero', 'detalle.eventoCircuito.act.tarea.nombre', 'titulo', 'cliente.nombre', 'producto.nombre', 'usuarioActual.usuario']"
            [tableStyle]="{ 'min-width': '75rem' }"
            [(selection)]="eventoSeleccionado"
            [rowHover]="true"
            dataKey="id"
            currentPageReportTemplate="Mostrando desde {first} a {last} de {totalRecords} registros"
            [showCurrentPageReport]="true"
            styleClass="p-datatable-sm"
        >
            <ng-template pTemplate="caption">
                <div class="flex align-items-center justify-content-between" style="display: flex;">
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText style="padding-top: 0.4rem !important;padding-bottom: 0.4rem !important;" type="text" (input)="dt.filterGlobal(getEventValue($event), 'contains')" placeholder="Search..." />
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th></th>
                    <th pSortableColumn="tipo" hidden>Tipo <p-sortIcon field="tipo"></p-sortIcon></th>
                    <th pSortableColumn="numero" hidden>Numero <p-sortIcon field="numero"></p-sortIcon></th>
                    <th pSortableColumn="evento">Evento <p-sortIcon field="evento"></p-sortIcon></th>
                    <th pSortableColumn="titulo">Titulo <p-sortIcon field="titulo"></p-sortIcon></th>
                    <th pSortableColumn="etapa">Etapa <p-sortIcon field="etapa"></p-sortIcon></th>
                    <th pSortableColumn="cliente">Cliente <p-sortIcon field="cliente.nombre"></p-sortIcon></th>
                    <th pSortableColumn="producto">Producto <p-sortIcon field="producto.nombre"></p-sortIcon></th>
                    <th pSortableColumn="modulo">Modulo <p-sortIcon field="modulo"></p-sortIcon></th>
                    <th pSortableColumn="usuarioAlta">Usuario Actual <p-sortIcon field="usuarioAlta"></p-sortIcon></th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-evento>
                <tr [ngClass]="{'eventoCerrado': evento.cerrado}">
                    <td [width]="'50px'">
                        <!-- <p-tableCheckbox [value]="evento" [disabled]="evento.cerrado"></p-tableCheckbox> -->
                    </td>
                    <td hidden>{{ evento.tipo }}</td>
                    <td hidden>{{ evento.numero }}</td>
                    <td routerLink="/evento/{{evento.id}}">{{ evento.tipo +'-'+ evento.numero }}</td>
                    <td>{{ evento.titulo }}</td>
                    <td>{{ evento.detalle?.eventoCircuito.act.tarea?.nombre }}</td>
                    <td>{{ evento.cliente.nombre }}</td>
                    <td>{{ evento.producto.nombre }}</td>
                    <td>{{ evento.modulo }}</td>
                    <td>{{ evento.usuarioActual.usuario }}</td>
                    <td>
                        <button pButton pRipple (click)="avanzar(evento)" icon="pi pi-forward" pTooltip="Avanzar" [showDelay]="1000" class="p-button-rounded p-button-success botonRedondoChico mr-2" *ngIf="muestraAvanzar(evento)" ></button>
                        <button pButton pRipple (click)="retroceder(evento)"  icon="pi pi-history" pTooltip="Retroceder" [showDelay]="1000" class="p-button-rounded p-button-warning botonRedondoChico mr-2" *ngIf="muestraRetroceder(evento)"></button>
                        <button pButton pRipple (click)="reasignar(evento)"  icon="pi pi-user-edit" pTooltip="Reasignar" [showDelay]="1000" class="p-button-rounded p-button-warn botonRedondoChico mr-2" *ngIf="!evento.cerrado"></button>
                        <button pButton pRipple (click)="estimar(evento)"  icon="pi pi-stopwatch" pTooltip="Estimar" [showDelay]="1000" class="p-button-rounded p-button-info botonRedondoChico mr-2" *ngIf="muestraEstimar(evento)"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="flex align-items-center justify-content-between">En total hay {{ eventos ? eventos.length : 0 }} eventos.</div>
            </ng-template>
        </p-table>
    </div>


</div>