<div class="container">

    <div class="grid">
        <div class="col-4">
            <div class="flex flex-column gap-2">
                <label htmlFor="fecha">Fecha</label>
                <p-calendar appendTo="body" [(ngModel)]="fecha"  dateFormat="dd/mm/yy" [showIcon]="true"></p-calendar>
            </div>
        </div> 
    </div>
    <div class="grid">
        <div class="col-12">
            <table>
                <thead>
                <tr>
                    <th>Evento</th>
                    <th>Inicio</th>
                    <th>Final</th>
                    <th>Observaciones</th>
                    <th>Total</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let hora of horas; index as i;">
                        <td><input type="text" pInputText [(ngModel)]="hora.evento.evento" [disabled]="true" /> <button type="button" pButton icon="pi pi-check-circle" (click)="seleccionarEvento(hora)"></button></td>
                        <td><p-inputMask #inputInicio mask="99:99" [(ngModel)]="hora.inicio" placeholder="99:99" (onComplete)="actualizarTotal(hora)"></p-inputMask></td>
                        <td><p-inputMask #inputFinal mask="99:99" [(ngModel)]="hora.final" placeholder="99:99" (onComplete)="actualizarTotal(hora)"></p-inputMask></td>
                        <td><input type="text" pInputText [(ngModel)]="hora.observaciones" /></td>
                        <td><div class="falso-input">{{hora.total | totalComoNumero}} hs</div></td>
                        <td><button type="button" (click)="eliminarFila(hora)" class="p-button p-button-danger">-</button></td>
                    </tr>
                </tbody>
            </table>
            <button type="button" (click)="agregarFila()" class="p-button p-button-success">+</button>
        </div>
    </div>
  
    <div [hidden]="!(modo==='A')">
      <button pButton pRipple label="Crear" class="p-button-success" (click)="accion($event)"></button>
    </div>
    <div [hidden]="!(modo==='M')">
      <button pButton pRipple label="Modificar" class="p-button-warning" (click)="accion($event)"></button>
    </div>
  
  </div>