<div class="timeline">
    <div *ngFor="let vida of vidaEvento; let last = last" class="grid" style="align-items:center">
        <div class="date col-2">{{ vida.fecha | date }}</div>
        <div class="separator col-1" [style.background-color]="obtenerColor(vida.accion)"></div>
        <div class="info col-9">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ vida.accion }}</h5>
                    <div class="card-text" [innerHTML]="getTexto(vida.accion, vida)"></div>
                    <!-- <div *ngIf="vida.accion === 'COMENTARIO'">
                <p class="card-text">{{vida.usuario.usuario}} agrego un comentario</p>
            </div>
            <div *ngIf="vida.accion === 'AVANZO'">
                <p class="card-text">Avanzo a la etapa <b>{{vida.tarea}}</b> y se asigno a {{vida.usuario.usuario}}</p>
            </div>
            <div *ngIf="vida.accion === 'RETROCESO'">
                <p class="card-text">Revirtio a la etapa <b>{{vida.tarea}}</b> y se asigno a {{vida.usuario.usuario}}</p>
            </div>
            <div *ngIf="vida.accion === 'REASIGNO'">
                <p class="card-text">Se reasigno el evento a {{vida.usuario.usuario}}</p>
            </div>
            <div *ngIf="vida.accion === 'CREO'">
                <p class="card-text">{{vida.usuario.usuario}} creo el evento</p>
            </div>
            <div *ngIf="vida.accion === 'CERRO'">
                <p class="card-text">{{vida.usuario.usuario}} cerro el evento</p>
            </div> -->
                </div>
            </div>
        </div>
        <hr style="width: 90%; border-color: #dee2e6; border-block-style: solid;">
    </div>
</div>


<!-- <div class="">
    <p-timeline [value]="vidaEvento" class="w-full md:w-20rem">
        <ng-template pTemplate="content" let-vida>
            <p-card [header]="vida.accion" >
                <div *ngIf="vida.accion === 'COMENTARIO'">
                    <p>{{vida.usuario.usuario}} agrego un comentario</p>
                </div>
                <div *ngIf="vida.accion === 'AVANZO'">
                    <p>Avanzo a la etapa <b>{{vida.tarea}}</b> y se asigno a {{vida.usuario.usuario}}</p>
                </div>
                <div *ngIf="vida.accion === 'RETROCESO'">
                    <p>Revirtio a la etapa <b>{{vida.tarea}}</b> y se asigno a {{vida.usuario.usuario}}</p>
                </div>
                <div *ngIf="vida.accion === 'REASIGNO'">
                    <p>Se reasigno el evento a {{vida.usuario.usuario}}</p>
                </div>
                <div *ngIf="vida.accion === 'CREO'">
                    <p>{{vida.usuario.usuario}} creo el evento</p>
                </div>
                <div *ngIf="vida.accion === 'CERRO'">
                    <p>{{vida.usuario.usuario}} cerro el evento</p>
                </div>
            </p-card>
        </ng-template>
        <ng-template pTemplate="opposite" let-vida>
            {{ vida.fecha | date}}
        </ng-template>
    </p-timeline>
</div> -->