
.falso-input{
    margin: 0;
    padding: 12px;
    border: 1px solid #ced4da;
    border-radius: 6px;
}

.cell-boton{
    display: flex;
    align-items: center;
    justify-content: center;
}

.select-att {
    border: 1px lightgray solid;
    border-radius: 6px;
    margin: 5px 0;
}

.clienteSel span input {
    width: 100% !important;
}