
<div class="container" style="margin: 20px;">
    
    <div class="card">
        <p-toast></p-toast>
        <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
        <p-toolbar styleClass="mb-4 gap-2" *ngIf="tieneControl()">
            <ng-template pTemplate="left">
                <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-success mr-2 botonChico" (click)="mostrarModalCrud(null, 'A')"></button>
                <button pButton pRipple label="Eliminar" icon="pi pi-trash" class="p-button-danger botonChico" *ngIf="puedeEliminar()" (click)="deleteSeleccion()" [disabled]="!eventoSeleccionado || !eventoSeleccionado.length"></button>
            </ng-template>

            <ng-template pTemplate="right">
            </ng-template>
        </p-toolbar>

        <p-table
            #dt
            [value]="eventos"
            [rows]="10"
            [paginator]="true"
            [globalFilterFields]="['tipo', 'numero', 'detalle.eventoCircuito.act.tarea.nombre', 'titulo', 'cliente.nombre', 'producto.nombre', 'modulo', 'usuarioActual.usuario', 'fechaAlta']"
            [tableStyle]="{ 'min-width': '75rem' }"
            [(selection)]="eventoSeleccionado"
            [rowHover]="true"
            dataKey="id"
            currentPageReportTemplate="Mostrando desde {first} a {last} de {totalRecords} registros"
            [showCurrentPageReport]="true"
            styleClass="p-datatable-sm"
            [tableStyle]="{'min-width': '92rem'}"
        >
            <ng-template pTemplate="caption">
                <div class="flex align-items-center justify-content-between" style="display: flex;">
                    <div class="flex align-items-center gap-1" style="margin:auto 10px">
                        <button pButton label="Limpiar" class="p-button" icon="pi pi-filter-slash" (click)="clear(dt)"></button>
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText style="padding-top: 0.4rem !important;padding-bottom: 0.4rem !important;" class="p-component p-element p-inputtext" type="text" (input)="dt.filterGlobal(getEventValue($event), 'contains')" placeholder="Search..." />
                        </span>
                    </div>
                    <div class="flex align-items-center gap-1" style="margin:auto 10px">
                        <p-checkbox id="filtroVerCerrados" [(ngModel)]="filtroVerPropios" (click)="filtraEventos()" [binary]="true" inputId="binary"></p-checkbox>
                        <label for="filtroVerCerrados" class="mr-2"> Propios</label>
                        <p-checkbox id="filtroVerCerrados" [(ngModel)]="filtroVerCerrados" (click)="filtraEventos()" [binary]="true" inputId="binary"></p-checkbox>
                        <label for="filtroVerCerrados"> Cerrados</label>
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th *ngIf="tieneControl()"><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
                    <th></th>
                    <th pSortableColumn="tipo" hidden>Tipo</th>
                    <th pSortableColumn="numero" hidden>Numero</th>
                    <th pSortableColumn="evento" style="min-width: 105px;">
                        <div class="flex align-items-center" style="justify-content: space-around;">
                            Evento
                            <p-columnFilter type="text" field="busqueda" display="menu" matchMode="contains" style="margin-left: 2px;"></p-columnFilter>
                        </div>
                    </th>
                    <th pSortableColumn="titulo">
                        <div class="flex align-items-center" style="justify-content: space-around;">
                            Titulo
                            <p-columnFilter type="text" field="titulo" display="menu" matchMode="contains" style="margin-left: 2px;"></p-columnFilter>  
                        </div>
                    </th>
                    <th pSortableColumn="etapa" filterField="etapa">
                        <div class="flex align-items-center" style="justify-content: space-around;">
                            Etapa
                            <p-columnFilter type="text" field="detalle.eventoCircuito.act.tarea.nombre" display="menu" matchMode="contains" style="margin-left: 2px;"></p-columnFilter>
                        </div></th>
                    <th pSortableColumn="cliente" filterField="cliente">
                        <div class="flex align-items-center" style="justify-content: space-around;">
                            Cliente
                            <p-columnFilter type="text" field="cliente.nombre" display="menu" matchMode="contains" style="margin-left: 2px;"></p-columnFilter>
                        </div>
                    </th>
                    <th pSortableColumn="producto" filterField="producto">
                        <div class="flex align-items-center" style="justify-content: space-around;">
                            Producto
                            <p-columnFilter type="text" field="producto.nombre" display="menu" matchMode="contains" style="margin-left: 2px;"></p-columnFilter>
                        </div>
                    </th>
                    <th pSortableColumn="modulo" filterField="modulo">
                        <div class="flex align-items-center" style="justify-content: space-around;">
                            Modulo
                            <p-columnFilter type="text" field="modulo" display="menu" matchMode="contains" style="margin-left: 2px;"></p-columnFilter>
                        </div>
                    </th>
                    <th pSortableColumn="usuarioActual" filterField="usuarioActual">
                        <div class="flex align-items-center" style="justify-content: space-around;">
                            Usuario
                            <p-columnFilter type="text" field="usuarioActual.usuario" display="menu" matchMode="contains" style="margin-left: 2px;"></p-columnFilter>
                        </div>
                    </th>
                    <th pSortableColumn="alta">Alta</th>
                    <th pSortableColumn="usuarioAlta" hidden>Usuario Alta</th>
                    <th *ngIf="tieneControl()"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-evento let-expanded="expanded">
                <tr [ngClass]="{'eventoCerrado': evento.cerrado}">
                    <td *ngIf="tieneControl()">
                        <p-tableCheckbox [value]="evento" [disabled]="evento.cerrado"></p-tableCheckbox>
                    </td>
                    <td style="height: 61px;">
                        <button type="button" pButton pRipple [pRowToggler]="evento" class="p-button-text p-button-rounded p-button-plain botonRedondoChico" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" *ngIf="!evento.propio"></button>
                    </td>
                    <td hidden>{{ evento.tipo.id }}</td>
                    <td hidden>{{ evento.numero }}</td>
                    <td><span class="badge" [style.background-color]="evento.tipo.color"  [style.color]="constraste(evento.tipo.color)" routerLink="/evento/{{evento.id}}">{{ evento.busqueda }}</span></td>
                    <td>{{ evento.titulo }}</td>
                    <td>{{ evento.detalle?.eventoCircuito.act.tarea?.nombre }}</td>
                    <td>{{ evento.cliente.nombre }}</td>
                    <td>{{ evento.producto.nombre }}</td>
                    <td>{{ evento.modulo }}</td>
                    <td><span class="badge" [style.background-color]="evento.usuarioActual.color"  [style.color]="constraste(evento.usuarioActual.color)" routerLink="/usuario/{{evento.usuarioActual.id}}">{{ evento.usuarioActual.usuario }}</span></td>
                    <td>{{ evento.fechaAlta | date:'short'}}</td>
                    <td hidden>{{ evento.usuarioAlta.usuario }}</td>
                    <td *ngIf="tieneControl()">
                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success botonRedondoChico mr-2" (click)="mostrarModalCrud(evento, 'M')" [disabled]="evento.cerrado"></button>
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning botonRedondoChico" *ngIf="puedeEliminar()" (click)="deleteSolo(evento)" [disabled]="evento.cerrado"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="rowexpansion" let-eventoDetalle>
                <tr>
                    <td colspan="11">
                        <div class="grid px-5 text-center align-items-center eventoDetalle">
                            <div class="col">
                                <div class="grid">
                                    <div class="col">
                                        <p>Horas estimadas:</p>
                                        <p>{{eventoDetalle.detalle?.eventoHoras?.estimacion.total}}</p>
                                    </div>
                                    <div class="col">
                                        <p>Horas reales:</p>
                                        <p>{{eventoDetalle.detalle?.eventoHoras?.trabajadas}}</p>
                                    </div>
                                    <div class="col">
                                        <p>Diferencia:</p>
                                        <p [ngClass]="{'diferenciaPositiva': esPositivo(eventoDetalle), 'diferenciaNegativa': !esPositivo(eventoDetalle)}">
                                            {{(eventoDetalle.detalle?.eventoHoras?.estimacion.total - eventoDetalle.detalle?.eventoHoras?.trabajadas)}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <p>Entorno: {{ eventoDetalle.producto.entorno }}</p>
                            </div>
                            <div class="col">
                                <p>Usuario Alta</p>
                                <p><span class="badge" [style.background-color]="eventoDetalle.usuarioAlta.color"  [style.color]="constraste(eventoDetalle.usuarioAlta.color)" routerLink="/usuario/{{eventoDetalle.usuarioAlta.id}}">{{ eventoDetalle.usuarioAlta.usuario }}</span></p>
                            </div>
                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="flex align-items-center justify-content-between">En total hay {{ eventos ? eventos.length : 0 }} eventos.</div>
            </ng-template>
        </p-table>
    </div>

</div>