
<div class="container">

    <form [formGroup]="tarea">

        <div class="grid">
            <div class="col-6">
                <div class="flex flex-column gap-2">
                    <label htmlFor="nombre">Nombre</label>
                    <input pInputText id="nombre" aria-describedby="nombre-help" formControlName="nombre" />
                    <small id="nombre-help" [hidden]="tarea.get('nombre')?.valid">Ingrese una nombre.</small>
                </div>
            </div>
            <div class="col-6">
                <div class="flex flex-column gap-2">
                    <label htmlFor="rol">Rol</label>
                    <!-- <input pInputText id="rol" aria-describedby="rol-help" formControlName="rol" /> -->
                    <p-dropdown formControlName="rol" [options]="roles" optionValue="id" optionLabel="descripcion" id="rol" aria-describedby="rol-help"></p-dropdown>
                    <small id="rol-help" [hidden]="tarea.get('rol')?.valid">Ingrese un rol.</small>
                </div>
            </div>
        </div>

        <div [hidden]="!(modo==='A')">
            <button pButton pRipple label="Crear" class="p-button-success" (click)="accion($event)"></button>
        </div>
        <div [hidden]="!(modo==='M')">
            <button pButton pRipple label="Modificar" class="p-button-warning" (click)="accion($event)"></button>
        </div>

    </form>

</div>