<p-table [value]="productos"
         responsiveLayout="scroll"
         [paginator]="true"
         [rows]="5"
         [responsive]="true"
         styleClass="p-datatable-sm"
>
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="id" hidden>Id <p-sortIcon field="id" ></p-sortIcon></th>
            <th pSortableColumn="sigla">Sigla <p-sortIcon field="sigla"></p-sortIcon></th>
            <th pSortableColumn="nombre">Nombre <p-sortIcon field="nombre"></p-sortIcon></th>
            <th pSortableColumn="entorno">Entorno <p-sortIcon field="entorno"></p-sortIcon></th>
            <th style="width:4em"></th>
        </tr>
        <tr>
            <th>
                <p-columnFilter type="text" field="sigla" matchMode="contains"></p-columnFilter>
            </th>
            <th>
                <p-columnFilter type="text" field="nombre" matchMode="contains"></p-columnFilter>
            </th>
            <th>
                <p-columnFilter type="text" field="entorno.id" matchMode="contains"></p-columnFilter>
            </th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-producto>
        <tr>
            <td hidden>{{ producto.id }}</td>
            <td>{{ producto.sigla }}</td>
            <td>{{ producto.nombre }}</td>
            <td>{{ producto.entorno.id }}</td>
            <td>
                <button type="button" pButton icon="pi pi-check-circle" (click)="select(producto)"></button>
            </td>
        </tr>
    </ng-template>
</p-table>